#share-zone {
	--active-section-color: var(--share-color);
	width: 24em;
}

#share-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.share-list-item {
	margin: 0.8em 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline
}

#share-btn-row {
	display: flex;
	gap: 1ch;
	justify-content: flex-end
}

.share-item-menu {
	position: relative;
}



.share-item-menu-items {
	position: absolute;
	top: 0.5ch;
	right: 0;
	top: 6px;
	display: flex;
	gap: 0.5ch;
	box-shadow: 0 2px 10px 10px rgba(0, 0,0 , 0.1);
	background: rgb(0, 117, 166);
	padding: 0.5em;
	border-radius: 6px;
}

.share-item-menu-items:before{
		content:'';
		display:block;
		width:0;
		height:0;
		position:absolute;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom:8px solid rgb(0, 117, 166);
		top:-8px;
		right:16px;
}

#add-share-form {
	max-width: 27em
}

#add-share-form-btns, #creator-form-btns {
	display: flex;
	justify-content: flex-end;
	gap: 0.5ch;
	margin: 0.5em 0 0 0
}




#secret-explainer, .share-explainer {
	margin: 0.8em 0;
	font-size: 0.8em;
	color: rgb(100, 100, 100);
	line-height: 1.35em;
}

.share-explainer {
	max-width: 24em;
}

#creator-form-share-address {
	display: flex;
	gap: 0.5ch;
	align-items: baseline;
	font-size: 1em;
}

#creator-form-share-address-input {
	font-size: 1em;
}

#proposed-share {
	--active-section-color: rgb(0, 137, 193);
	display: flex;
	gap: 1ch;
	align-items: baseline
}