body {
	box-sizing: border-box;
	margin: 0;
	background-color: rgb(229, 210, 255);
	font-family: ui-sans-serif;
}

#applet-items {
	padding: 1em;
	margin: 0;
}

.applet-item {
	padding: 1em;
	background-color: rgb(243, 235, 255);
	display: inline-block;
	border-radius:6px;
}

a {
	text-decoration: none
}

.applet-name {
	color: black;
	text-decoration: none;
	margin: 0 0 0.2em 0;
}

.applet-info {
	font-size: 0.8em;
	color: rgb(62, 62, 62);
	text-decoration: none;
}