#keypair-zone {
	--active-section-color: var(--keypair-color)
}

#general-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 1ch;
}

#keypair-card {
	display: flex;
	align-items: baseline;
	gap: 1ch;
}

#signed-in-keypair {
	font-size: 1.2em;
}

#keypair-creation-root {
	margin: 0.2em 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 1ch;
}

#keypair-creation-root p {
	margin: 0.3em 0 0.5em 0
}

#keypair-add-buttons {
	padding: 0.3em 0;
	display: flex;
	gap: 1ch;
	justify-content: flex-end
}