#menu-bar {
	box-shadow: 0 2px 10px 2px rgba(0, 0,0 , 0.05);
	display: flex;
	justify-content: flex-end;
	padding: 0.5ch;
	background-color: rgba(255, 255, 255, 0.95);
	align-items: baseline;
	border-bottom: 1px solid rgb(225, 225, 225);
	gap: 0.5ch;
}

#active-mode-panel {
	position: absolute;
	
	
	
	margin: 0.6em 0.6em 0 0;
	
	right: 0;
	max-width: 37em;
	
}

.menu-button {
	border-radius: 6px;
	border: none;
	background-color: rgba(0, 0, 0, 0.03);
	align-self: center;
	padding: 0.5em;
	font-size: 0.9em;
	transition: 100ms all;
	box-shadow: none;
}

.menu-button-active {
	color: white;
	background-color: var(--active-section-color);
	box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.keypair-button {
	--active-section-color: var(--keypair-color);
}

.shares-button {
	--active-section-color: var(--share-color);
}

.server-button {
	--active-section-color: var(--server-color);
}